@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.fade-in {
  animation: fadeIn 0.4s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.4s ease-in-out;
}

.menu-container {
  position: absolute;
  width: 20%;
  height: 100vh;
  background-color: rgb(73, 73, 73);
}

.slide-in {
  animation: slideIn 0.4s ease-in-out;
}

.slide-out {
  animation: slideOut 0.4s ease-in-out;
}