.customModal {
  width: 80%;
  max-width: 500px;
  height: 80%;
  overflow: hidden;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

label div img {
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label div img {
  transform: scale(1.02);
  filter: grayscale(0);
}
